<% page_title("Admin Login ") %>

<div class="grid_12">
  <h1>Admin Login</h1>
  <div class="full_wrap">    
    <%= render :partial => 'form' %>
    <%= link_to 'Back', root_path, :class => 'btn' %>
  </div>
    
</div>