/*********************************************/
/*******************GLOBAL********************/
body {
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  color: #000;
  font-size: 11.5px;
}
#hd {
  z-index: 1;
}
#main_nav {
  position: absolute;
  z-index: 1;
}
#anti_gravity_text {
  position: relative;
  width: 180px;
  left: 120px;
}
ul.nav_ul {
  margin-left: 520px;
}
.logo {
  position: relative;
  z-index: 10;
}
.about_banner p {
  margin-top:20px;
  float: left;
  text-align:left;
  width: 630px;
}
/*.badge {
  position: relative;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
}*/
/*********************************************/
/*******************HEADER********************/

/*********************************************/
/*****************NAVIGATION******************/

/*********************************************/
/****************MAIN CONTENT*****************/


/***********************/
/********banners********/
#slider {
  height: 135px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.scroll {
  width: 320px;
  height: 135px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative; /* fix for IE to respect overflow */
  clear: left;
}
.scrollContainer {
  position: relative;
  overflow: hidden;
  width: 320px;
  height: 135px;
}
img.banner_scroll.r, img.banner_scroll.l {
  visibility: hidden;
}


