<div class="moonwalk_banner about_banner running_man grid_12 alpha omega">
  <div class="about_banner_heading">  
    <h2>About Moonwalk Cardio</h2>
    <h5>Fitness Solutions for all Situations</h5>
  </div>
  <div class="clear"></div>
  <p>
    The <%= APPLICATION_NAME %> Anti-gravity Fitness System is an unweighting or load-bearing device designed to lift as much weight as needed off of the user with complete comfort while maintaining full range of motion during exercises.  This device will work with a wide variety of cardio machines such as treadmills, elliptical trainers, stair steppers, etc.  We have accomplished this by integrating our Cardio suit and waist-belt harness together, creating the CARDIO-SUIT, the ultimate in an unweighting device.  We have also designed the <%= APPLICATION_NAME %> anti-gravity overhead support structure that connects to the CARDIO-SUIT.  The overhead support structure has a suspension system built into the lifting device.  While the actual lifting structure that connects to the CARDIO-SUIT and does the actual lifting is necessary, our focus is primarily on the CARDIO-SUIT because this portion of our device is connected to the user and provides the contact points necessary to redistribute the user's weight with complete comfort. 
    </p>
    <p>   
     Typically, other systems lift 25 to 35 pounds before discomfort begins. Our device will absorb the entire weight of the user and still provide complete comfort while eliminating the risk of falling.  The fact is the <%= APPLICATION_NAME %> Anti-gravity System is so effective that it has already created serious interest from people from all walks of life whether they have weight issues, injuries, or are elderly.  Currently, we are in the process of developing a low-profile home unit that will work under an eight foot ceiling so they can be purchased to work out in the privacy and comfort of your own home.  We are also in the process of opening Moonwalk Cardio Antigravity Wellness Centers.
  </p>
    <p>Welcome to the next generation in fitness and wellness, Welcome to the <%= APPLICATION_NAME %> Anti-gravity System.</p>
</div>