<div class="moonwalk_banner index_banner running_man grid_12 alpha omega">
  <%= render :partial => 'yellow_index_box', :locals => {:subscription => @subscription} %>
  <div class="index_banner_heading">  
    <h2>Revolutionary Fitness</h2>
    <h5>Making a Difference One Life At A Time</h5>
  </div>
  <div class="banner_box">
    <%= render :partial => "layouts/banners" %>
  </div>
</div>