<div class="moonwalk_banner about_banner running_man grid_12 alpha omega">
  <div class="media_banner_heading">  
    <h2>Moonwalk Cardio Media</h2>
    <h5>See What Other Using Moonwalk Are Saying</h5>
  </div>
    <div class="clear"></div>
  <p class="media_top_p">
    Below you will find a broad array of individuals with different needs and conditions working out on the Moonwalk Cardio Anti Gravity System.  These individuals have conditions such as overweight problems, physical injuries, and even Senior citizens.  Until now, these people have not been able to achieve any sort of benificial cardio workout due to their conditions.  Our Cardio-Suit has given these individuals a new lease on life by allowing them to achieve a workout like they have never before imagined.  Click on some video links below to see these individuals responses to our system and get ready for the next generation in Cardio Fitness!
  </p>
</div>