<div class="grid_12 alpha omega">
    <div class="grid_6 alpha omega secondary_box competitors_quote">
      <h3>Competition Comparison</h3>
      <p>This is a blurb about the competition, comparing various aspects to Moonwalk Fitness.</p>
    </div>
  <div class="grid_6 alpha omega secondary_box quote_box">
    <h3>Quote Someone Important</h3>
    <p>This is the greatest thing ever! I feel so energized after a few minutes using the Moonwalk Cardio system.</p>
  </div>
</div>