<div class="grid_12 alpha omega">
  <div class="round2 sub_box_wrap">
    <div class="badge yellow_badge video_badge"></div>
    <div class="sub_box video_box">
      <div id="index_player">
        
      </div>
    </div>
    <div class="sub_box benefits_box last">
      <div class="badge yellow_badge yellow_star"></div>
      <h2>Benefits of Moonwalk Cardio</h2>
      <div class="clear"></div>
      <ul>
        <li>Enjoy exercising at your ideal weight with natural body movement and unrestricted mobility</li>
        <li>Get a vigorous workout without the negative impact on your joints.....back, hips, knees, ankles, and feet</li>
        <li>Greatly reduce the pain during and after exercise, as well as the following day pain that occurs</li>
        <li>The Moonwalk Cardio-Suit will comfortably support the entire weight of the user eliminating the risk of falling</li>
      </ul>
      <br />
    </div>
  </div>
</div>