  <div class="grid_4 alpha omega index_box yellow_grad round2">
    <div class="badge blue_badge runner_blue"></div>
    <h2>Stay Informed About Moonwalk Cardio</h2>
    <div class="full_wrap">
      <%= render :partial => "subscriptions/form", :locals => {:subscription => subscription} %>
    </div>
  </div>