<% content_for :banner do %>
  <%= render :partial => "moonwalk/about_banner" %>
<% end %>
<div class="grid_12 alpha omega about_content">
<div class="grid_12 alpha omega about_section_wrap">
  
  <h3>Benefits</h3>
  
  <p class="grid_12 alpha omega">
    This system was initially created to help obese and overweight people exercise while reducing impact on their bodies.  We found that when we lifted the weight off of people in a comfortable manner with complete mobility allowing them to exercise, their reaction was absolute excitement and empowerment.  Prior to the use of our device, when these people would exercise, they would experience a great deal of pain in their knees, lower back, feet, and ankles along with muscle cramping; not to mention complete exhaustion within very few minutes.  The fact is - this is why almost all of these people quit an exercise program within a week of beginning.
  </p>
  
  <p class="grid_12 alpha omega"><br />
    Our system eliminates the majority of pain during exercise, providing a huge relief to those that are overweight.  These people now have an opportunity to experience how great it feels to move around or walk without the negative effects of the excess weight on their bodies.  This also reduces the following day pain from exercising, thus motivating them further to continue their exercise program.  With each workout, the user will gain more confidence, feel better, have more energy and an improved desire to control their diet. 
  </p>
  
  <p class="grid_12 alpha omega"><br />
    We have also found that the <%= APPLICATION_NAME %> enables the many people who have medical conditions that prevent them from traditional "high impact" exercise, such as back pain, knee problems, joint problems, injury recovery or any other physical problems to exercise allowing for a speedy recovery without the pain.
  </p>
  
  <p class="grid_12 alpha omega"><br />
    Our system also provides a much needed positive benefit for the senior community as well.  Many seniors have issues working out on motorized equipment such as treadmills due the the instability they feel when on these types of machines. Our Cardio-Suit provides an exceptional stability to overcome this problem for seniors who wish to work out allowing them to stay in great shape as well.
  </p>
  
  <div class="grid_12 alpha omega benefit_order"><br />
    
     <h4>Specific Benefits</h4>
  <ul class="full_wrap">
    <li>Precision Un-Weighting with natural body movements</li>
    <li>Safe controlled exercise environment</li>
    <li>Ultra-low impact workout while walking or running </li>
    <li>Unrestricted mobility for natural gait mechanics</li>
    <li>Maintains and enhances strength and endurance</li>
    <li>Systematic progression using specific increases in body weight</li>
    <li>Neurological re-training</li>
    <li>Weight Control</li>
    <li>Strength and conditioning for elderly people</li>
    <li>Corrective posture</li>
    <li>Stress relief</li>
    <li>Proven concept of duration (length of exercise)</li>
    <li>Back decompression</li>
    <li>Eliminates balancing issues</li>
    <li>Body weight support</li>
    <li>Reduces impact ground reaction forces, for pain free exercise</li>
  </ul>
  </div>
</div>
</div>
