<div id="slider">
  <div class="scroll">
    <div class="scrollContainer">
      <div id="banner1" class="panel banner_quote"></div>
      <div id="banner2" class="panel banner_quote"></div>
      <div id="banner3" class="panel banner_quote"></div>
      <div id="banner4" class="panel banner_quote"></div>
      <div id="banner5" class="panel banner_quote"></div>
    </div>
  </div>
  <div class="banner_nav">
    <div class="banner_button_wrap">
      <div class="banner_spacer">
        <ul class="navigation">
          <li><a href="#banner1"></a></li>
          <li><a href="#banner2"></a></li>
          <li><a href="#banner3"></a></li>
          <li><a href="#banner4"></a></li>
          <li><a href="#banner5"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>